/* App.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.App {
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
  justify-content: center;
}

.dropdown {
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.option-button {
  width: 100px;
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #007aff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option-button:hover {
  background-color: #005bb5;
}

.option-button.selected {
  background-color: #34c759;
}

.action-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007aff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #005bb5;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #007aff;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}

.button:active {
  background-color: #00408b;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.button.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
